body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.form-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
     transition: background-color 0.3s, box-shadow 0.3s;
}

h1, h2 {
    color: #333;
    margin-bottom: 25px;
    transition: color 0.3s;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
    transition: color 0.3s;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    margin-top: 20px;
}


.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-primary {
    background-color: #0056b3;
    color: white;
}

.btn-primary:hover {
    background-color: #004494;
}

.btn-secondary {
    background-color: #ffffff;
    color: #0056b3;
    border: 1px solid #0056b3;
}

.btn-secondary:hover {
    background-color: #f2f2f2;
}

.btn-toggle-mode {
    margin-top: 20px !important; 
    width: 100% !important; 
}

.redefinir-link {
    margin-top: 15px;
}

.redefinir-link a,
.cadastro-link a {
    color: #0056b3;
    text-decoration: none;
    transition: color 0.3s;
}

.redefinir-link a:hover,
.cadastro-link a:hover {
    text-decoration: underline;
}

.cadastro-link {
    margin-top: 20px;
    font-size: 14px;
}

#cadastro {
    display: none;
}

#cadastro:target {
    display: block; 
}

#cadastro:target + #login {
    display: none;
}


body.dark-mode {
    background-color: #121212; 
}

body.dark-mode .form-container {
    background-color: #1e1e1e; 
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1); 
}


body.dark-mode h1,
body.dark-mode h2,
body.dark-mode label,
body.dark-mode p {
    color: #e0e0e0; 
}

body.dark-mode .input-group input,
body.dark-mode .input-group select {
    background-color: #2c2c2c; 
    border-color: #444; 
    color: #f0f0f0; 
}

body.dark-mode .btn-primary {
    background-color: #007bff; 
}

body.dark-mode .btn-secondary {
    background-color: #1e1e1e;
    color: #007bff;
    border: 1px solid #007bff;
}

body.dark-mode .btn-secondary:hover {
    background-color: #333;
}

body.dark-mode .redefinir-link a,
body.dark-mode .cadastro-link a {
    color: #007bff;
}